body{
    background-color: #efefef;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 72.8vw;
}
.navbar, .heading{
    background-color: #ffffff;
    height: 30vh;
}
.nav{
    display: flex;
    list-style-type: none;
}
li {
    margin-left: 20px;
}
h5{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.heading {
    padding-left: 10%;
    padding-bottom: 10%;
    margin-top: -3%;
    width: 65vw;
}
h1{
    font-size: 3em;
}
.button-1{
    background-color: #3f54d1;
    padding: .5em;
    height: 6vh;
    width: 10vw;
    color: #ffffff;
    font-size: 14px;
}
.button-2{
    background-color: #6107c8;
    padding: .5em;
    height: 6vh;
    width: 13vw;
    color: #ffffff;
    font-size: 14px;
    margin-left: 30px;
}
.card-container{
    display: flex;
    justify-content: center;
    margin: 7%;
}
.card{
    background-color: #ffffff;
    width: 10vw;
    height: 20vh;
    border: 1px solid #ffffff;
    border-radius: 24px;
    margin-left: 3%;
}
.card-2{
    background-color: #3f54d1;
    width: 10vw;
    height: 20vh;
    border: 1px solid #ffffff;
    border-radius: 24px;
    color: #ffffff;
}
.card p {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}
.card-2 p {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}
.peadiatrics {
    display: flex;
    justify-content: center;
}
.speciality{
    background-color: #ffffff;
    width: 15vw;
    height: 50vh;
    margin-right: 10%;
}
.box {
    margin-left: 20%;
}
.children {
    margin-top: 10%;
}
.speciality-2{
    background-color: #ffffff;
    width: 15vw;
    height: 20vh;
    margin-left: 57%;
    margin-top: 5%;
    padding: 1em;
}
.box-2 {
    margin-left: 10%;
}
.children-2 {
    margin-left: 26%;
    margin-top: -10%;
}
.johnnie {
    background-color: #ffffff;
    width: 33vw;
    height: 25vh;
    margin-left: 32%;
    margin-top: 10%;
    padding-left: 10%;
}
.johnnie h6{
    padding-top: 5%;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question p{
    margin-left: 7%;
}
.question input{
    width: 20vw;
    height: 5.5vh;
}
.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.footer-nav {
    display: flex;
}
.product{
    margin-left: -100%;
}
.services{
    margin-left: 15%;
}
.company{
    margin-left: 15%;
}
.more{
    margin-left: 15%;
}